.image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.logoImage {
  width: 20px;
  height: 20px;
  transition: color 0.3s ease;
}

.logoImageLink {
  color: inherit;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.name {
  font-size: 20px;
}

.description {
  color: rgb(var(--color-muted));
}

.logos {
  margin-top: 5px;
  display: flex;
  column-gap: 15px;
}

.logoImage:hover {
  color: rgb(var(--color-hover));
}
