.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.role {
  color: rgb(var(--color-muted));
}

.date {
  color: rgb(var(--color-muted));
}
